@import url(../header/heade.css);
@import url(../main/main.css);
@import url(../footer/foter.css);
@import url(../mainmid.scss/mainmid.css);
@import url(../mainend/mainend.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
}
